.au-menu-button.au-menu-button-active,
.au-menu-button.au-menu-button-active:focus,
.au-menu-button.au-menu-button-active:hover {
    box-shadow: inset 0 0 0 99em rgba(17,17,17,0.2);
}

.au-event-list {
    padding-left: 0;
}

.au-event {
    text-transform: capitalize;
    list-style: none;
    border-radius: 1em;
    background: #FAFAFA;
    margin-bottom: 8px;
}
